<section class="header bg-info py-5">
  <div class="container-fluid">
    <div class="d-flex flex-column justify-content-sm-center">
      <div class="logo-project align-self-center">
        <img [src]="'assets/img/logo-project.png'" alt="RWC">
      </div>
      <div class="header-intro align-items-lg-center align-self-center text-white">
          <h2 class="display-3">Hello, I am</h2>
          <h1 class="display-1">{{title}}</h1>
          <h4 class="display-4">I have a lot experience!</h4>
      </div>
    </div>
  </div>
</section>
